@import '../../../styles/variables.scss';
@import '../../../styles/_mixins.scss';

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: $bg-dark;
}

.carousel {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  &__track {
    display: flex;
    height: 100%;
    transition: transform 0.4s ease 0s;
  }
  &__slide {
    flex: 1 0 100%;
  }
}

.slide {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  position: relative;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;

  &__wrapper {
    margin-top: 320px;
    padding: 0px 96px 0 96px;
    font-family: Roboto;
    font-style: normal;
    color: $main-grey-ligth;
  }
  &__title {
    margin: 0px 0px 12px 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
  }
  &__offer {
    margin: 0px 0px 32px 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }
  &__btnDetails {
    padding: 14px 38px;
  }
  &:nth-child(4n + 1) &__btnDetails {
    @include button(#13493F, #0C7B1B, 5%, 10%);
  }
  &:nth-child(4n + 2) &__btnDetails {
    @include button(#132949, #0C7B67, 5%, 10%);
  }
  &:nth-child(4n + 3) &__btnDetails {
    @include button(#493013, #7B0C3B, 5%, 10%);
  }
  &:nth-child(4n + 4) &__btnDetails {
    @include button(#281349, #720C7B, 5%, 10%);
  }
}

.arrow {
  position: relative;
  width: 64px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  transition: background-color 0.2s ease 0s ;
  outline: none;
  &:hover {
    background-color: rgba($main-accent, .2);
  }
}

.dots {
  position: absolute;
  // height: 8px;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  &__item {
    width: 8px;
    height: 9px;
    border-radius: 50%;
    background-color: $main-grey-ligth;
  }
  &__item_active {
    background-color: $main-accent;
  }
  &__item:not(:last-child) {
    margin-right: 8px;
  }
}
