@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.page {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  @include fluid-container;
  &-order {
    flex: 1 1 100%;
  }
}

.order {
  display: flex;
  // flex: 1 1 100%;
  @include horizontal-padding;
  min-height: 100%;
  &__total {
    flex-basis: 320px;
    padding-left: 32px;
    border-left: 1px solid $main-grey-ligth;
  }
  &__step {
    flex-grow: 1;
    max-width: 732px;
    margin-right: auto;
  }
  &__col {
    padding-top: 32px;
    min-height: 100%;
  }
}
