@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.page {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.container {
  @include fluid-container;
  &-order {
    flex: 1 1 100%;
  }
}

.order {
  display: flex;
  @include horizontal-padding;
  min-height: 100%;
  &__col {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &__total {
    flex-basis: 288px;
    flex-shrink: 0;
  }
  &__step {
    flex: 0 1 736px;
    margin-right: auto;
  }
  &__delimetr {
    flex-basis: 64px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    &_border {
      width: 1px;
      background-color: $main-grey-ligth;
    }
  }
}

@media (max-width: $tablet) {
  .order {
    flex-direction: column;
    &__step {
      flex: 0 1 auto;
      padding-right: 0px;
      margin-right: 0;
    }
    &__total {
      padding-left: 0px;
      border-left: none;
      flex: 0 1 auto;
    }
    &__delimetr {
      display: none;
    }
  }
}
