@import '../../../styles/variables.scss';
@import '../../../styles/_mixins.scss';

.button {
  margin: 5px;
  padding: 0;
  color: #ffffff;
  height: 50px;
  min-width: 50px;
  // padding: 14px 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border: none;
  border-radius: 50%;
  outline: none;

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  & svg {
    width: 1em;
    height: 1em;
    display: inline-block;
  }

  &:hover {
    background: linear-gradient(
      90deg,
      darken(#0ec261, 10%) 2.61%,
      darken(#039f67, 10%) 112.6%
    );
  }
  &:active {
    background: linear-gradient(
      90deg,
      darken(#0ec261, 20%) 2.61%,
      darken(#039f67, 20%) 112.6%
    );
  }
  &:disabled {
    background: $main-grey;
    cursor: default;
  }
}

.button__extended {
  padding: 0 10px;
  border-radius: 30px;
  & svg {
    margin-right: 8px;
  }
}
