$main-accent: #0ec261;
$main-blue: #007bff;
$main-black: #121212;
$main-grey: #999999;
$main-grey-ligth: #eeeeee;

$bg-admin: #f5f6f8;
$bg-dark: #151b1f;

$mobile: 767.98px;
$tablet: 1023.98px;
$desktop-min: 1439.98px;
$desktop: 1439px;
