@import '../../../styles/variables.scss';
@import '../../../styles/_mixins.scss';

.modelStep {
  &__filter {
    padding-bottom: 32px;
  }
}

.radioInput {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 16px;
  &__input {
    display: none;
  }
  &__text {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding-left: 25px;
    color: $main-grey;
    transition: all 0.2s ease 0s;
  }
  &__text:before {
    content: '';
    position: absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border: 1px solid $main-grey;
    border-radius: 50%;
  }
  &__input:checked + &__text {
    color: $main-black;
  }
  &__input:checked + &__text:before {
    border: 3px solid $main-accent;
  }
}

.cars {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__card {
    position: relative;
    flex: 0 1 50%;
    height: 224px;
    padding: 16px;
    text-transform: uppercase;
    border: 1px solid $main-grey-ligth;
    transition: border 0.2s ease 0s;
    cursor: pointer;
  }
  &__card:hover {
    border: 1px solid $main-grey;
  }
  &__card_selected {
    border: 1px solid $main-accent;
  }
  &__cardTitle {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $main-black;
  }
  &__cardPrice {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $main-grey;
  }
  &__cardPic {
    z-index: -1;
    position: absolute;
    top:40%;
    bottom: 10px;
    left: 15%;
    right: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: $mobile) {
  .radioInput {
    width: 120px;
  }
}

@media (max-width: 600px) {
  .cars {
    &__card {
      flex: 0 1 100%;
    }
  }
}
