@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  &__button {
    display: inline-block;
    margin: 0 10px;
  }
}

@media (max-width: $mobile) {
  .modal {
    &__container {
      flex-basis: 100%;
    }
    &__button {
      display: block;
      margin-bottom: 10px;
    }
  }
};
